.CareerParent{
    height: 1100px;
    border-bottom: 1px solid whitesmoke;
}

.CareerParent >div:first-child{
    background: rgb(5, 23, 47);
   height: 400px;
}
.CareerParent >div:first-child h3{
  background-color:rgb(5, 23, 47) ;
   padding: 10px;
}
.CareerParent >div:first-child h2{
    background-color:rgb(5, 23, 47) ;
    padding: 10px;
  }

.CareerchildtwoSubchild{
  margin: 100px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 10px whitesmoke;
    position: relative;
    top: -250px;
    padding: 50px;

}


@media only screen and (max-device-width:380px){

    .CareerParent{
        height: 1850px;
    }
  
    .CareerchildtwoSubchild{
        margin: 25px;
          border: 1px solid whitesmoke;
          border-radius: 10px;
          box-shadow: 0px 0px 10px whitesmoke;
          position: relative;
          top:-250px;
          padding: 10px;
      }
      .CareerchildtwoSubchild h4{
        font-size: 20px;
      }
      .CareerchildtwoSubchild p{
        font-size: 16px;
      }
      .CareerchildtwoSubchild h5{
        font-size: 18px;
      }

  
}
@media only screen and (min-device-width:381px) and (max-device-width:450px){

    .CareerParent{
        height: 1775px;
    }

    .CareerchildtwoSubchild{
        margin: 25px;
          border: 1px solid whitesmoke;
          border-radius: 10px;
          box-shadow: 0px 0px 10px whitesmoke;
          position: relative;
          top:-250px;
          padding: 10px;
      }
      .CareerchildtwoSubchild h4{
        font-size: 20px;
      }
      .CareerchildtwoSubchild p{
        font-size: 16px;
      }
      .CareerchildtwoSubchild h5{
        font-size: 18px;
      }

}

@media only screen and (min-device-width:451px) and (max-device-width:600px){

    .CareerParent{
        height: 1400px;
    }

    .CareerchildtwoSubchild{
        margin: 25px;
          border: 1px solid whitesmoke;
          border-radius: 10px;
          box-shadow: 0px 0px 10px whitesmoke;
          position: relative;
          top:-250px;
          padding: 10px;
      }
      .CareerchildtwoSubchild h4{
        font-size: 20px;
      }
      .CareerchildtwoSubchild p{
        font-size: 16px;
      }
      .CareerchildtwoSubchild h5{
        font-size: 18px;
      }

}
@media only screen and (min-device-width:600px) and (max-device-width:1100px){

 
    .CareerParent{
        height: 1050px;
    } 

    .CareerchildtwoSubchild{
        margin: 25px;
          border: 1px solid whitesmoke;
          border-radius: 10px;
          box-shadow: 0px 0px 10px whitesmoke;
          position: relative;
          top:-250px;
          padding: 10px;
      }
      .CareerchildtwoSubchild h4{
        font-size: 20px;
      }
      .CareerchildtwoSubchild p{
        font-size: 16px;
      }
      .CareerchildtwoSubchild h5{
        font-size: 18px;
      }

}

@media only screen and (min-device-width:1100px) and (max-device-width:1600px){

    .CareerParent{
        height: 925px;
    }

    .CareerchildtwoSubchild{
        margin: 25px;
          border: 1px solid whitesmoke;
          border-radius: 10px;
          box-shadow: 0px 0px 10px whitesmoke;
          position: relative;
          top:-250px;
          padding: 10px;
      }
      .CareerchildtwoSubchild h4{
        font-size: 20px;
      }
      .CareerchildtwoSubchild p{
        font-size: 16px;
      }
      .CareerchildtwoSubchild h5{
        font-size: 18px;
      }

}


