.serviceMainHeading{
  font-size: 55px;
  color: #ffc107;
  padding-top: 50px;
  padding-left: 20px;
}


.serviceParent{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 80px;
}
.serviceParent img{
    width: 100%;
    height: 200px;   
} 

.serviceParent >div:first-child{
   flex: 1;
   box-shadow: 0px 0px 20px #ffc107;
   border-radius: 10px;
   border-bottom: 10px solid #ffc107;
}
.serviceParent >div:nth-child(2){
    flex: 1;
    box-shadow: 0px 0px 18px whitesmoke;
    border-bottom: 10px solid whitesmoke;
    border-radius: 10px;
 }
 .serviceParent >div:nth-child(3){
    flex: 1;
    box-shadow: 0px 0px 20px #ffc107;
    border-radius: 10px;
    border-bottom: 10px solid #ffc107;
 }
 .serviceParent >div:nth-child(4){
    flex: 1;
    box-shadow: 0px 0px 18px whitesmoke;
    border-radius: 10px;
    border-bottom: 10px solid whitesmoke;
 }
 .serviceParent >div:nth-child(5){
    flex: 1;
    box-shadow: 0px 0px 20px #ffc107;
    border-radius: 10px;
    border-bottom: 10px solid #ffc107;
 }

 @media only screen and (max-device-width:600px){
   .serviceMainHeading{
      font-size: 30px;
      color: #ffc107;
      text-align: center;
    }

    .serviceParent{
      display: inline-block;
      flex-wrap: wrap;
      /* gap: 60px; */
      padding: 5px;
  }

  .serviceParent >div:first-child{
   flex: 1;
   box-shadow: 0px 0px 20px #ffc107;
   border-radius: 10px;
   border-bottom: 10px solid #ffc107;
   margin: 30px;
}
.serviceParent >div:nth-child(2){
    flex: 1;
    box-shadow: 0px 0px 18px whitesmoke;
    border-bottom: 10px solid whitesmoke;
    border-radius: 10px;
    margin: 30px;
 }
 .serviceParent >div:nth-child(3){
    flex: 1;
    box-shadow: 0px 0px 20px #ffc107;
    border-radius: 10px;
    border-bottom: 10px solid #ffc107;
    margin: 30px;
 }
 .serviceParent >div:nth-child(4){
    flex: 1;
    box-shadow: 0px 0px 18px whitesmoke;
    border-radius: 10px;
    border-bottom: 10px solid whitesmoke;
    margin: 30px;
 }
 .serviceParent >div:nth-child(5){
    flex: 1;
    box-shadow: 0px 0px 20px #ffc107;
    border-radius: 10px;
    border-bottom: 10px solid #ffc107;
    margin: 30px;
 }


 }

 @media only screen and (min-device-width:601px) and (max-device-width:900px){

   .serviceMainHeading{
      font-size: 30px;
      color: #ffc107;
      text-align: center;
    }

    .serviceParent{
      display: inline-block;
      flex-wrap: wrap;
      gap: 10px;
      padding: 0;
      margin-left: 200px;
      margin-right: 200px;
      margin-top: 50px;
  }
  .serviceParent >div:first-child{
   flex: 1;
   box-shadow: 0px 0px 20px #ffc107;
   border-radius: 10px;
   border-bottom: 10px solid #ffc107;
   margin-bottom: 30px;
}
.serviceParent >div:nth-child(2){
    flex: 1;
    box-shadow: 0px 0px 18px whitesmoke;
    border-bottom: 10px solid whitesmoke;
    border-radius: 10px;
    margin-bottom: 30px;
 }
 .serviceParent >div:nth-child(3){
    flex: 1;
    box-shadow: 0px 0px 20px #ffc107;
    border-radius: 10px;
    border-bottom: 10px solid #ffc107;
    margin-bottom: 30px;
 }
 .serviceParent >div:nth-child(4){
    flex: 1;
    box-shadow: 0px 0px 18px whitesmoke;
    border-radius: 10px;
    border-bottom: 10px solid whitesmoke;
    margin-bottom: 30px;
 }
 .serviceParent >div:nth-child(5){
    flex: 1;
    box-shadow: 0px 0px 20px #ffc107;
    border-radius: 10px;
    border-bottom: 10px solid #ffc107;
    margin-bottom: 30px;
 }

 }

 @media only screen and (min-device-width:901px) and (max-device-width:1100px){

   .serviceMainHeading{
      font-size: 30px;
      color: #ffc107;
      text-align: center;
    }

    .serviceParent{
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      padding: 10px;
    
  }
  .serviceParent >div:first-child{
   flex: 1;
   box-shadow: 0px 0px 10px #ffc107;
   border-radius: 10px;
   border-bottom: 10px solid #ffc107;
   margin-bottom: 30px;
}
.serviceParent >div:nth-child(2){
    flex: 1;
    box-shadow: 0px 0px 10px whitesmoke;
    border-bottom: 10px solid whitesmoke;
    border-radius: 10px;
    margin-bottom: 30px;
 }
 .serviceParent >div:nth-child(3){
    flex: 1;
    box-shadow: 0px 0px 10px #ffc107;
    border-radius: 10px;
    border-bottom: 10px solid #ffc107;
    margin-bottom: 30px;
 }
 .serviceParent >div:nth-child(4){
    flex: 1;
    box-shadow: 0px 0px 10px whitesmoke;
    border-radius: 10px;
    border-bottom: 10px solid whitesmoke;
    margin-bottom: 30px;
 }
 .serviceParent >div:nth-child(5){
    flex: 1;
    box-shadow: 0px 0px 10px #ffc107;
    border-radius: 10px;
    border-bottom: 10px solid #ffc107;
    margin-bottom: 30px;
 }

 }

 @media only screen and (min-device-width:1101px) and (max-device-width:1400px){

   .serviceMainHeading{
      font-size: 30px;
      color: #ffc107;
      text-align: center;
      padding: 40px;
    }

    .serviceParent{
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      padding: 10px;
    
  }
  .serviceParent >div:first-child{
   flex: 1;
   box-shadow: 0px 0px 10px #ffc107;
   border-radius: 10px;
   border-bottom: 10px solid #ffc107;
   margin-bottom: 30px;
}
.serviceParent >div:nth-child(2){
    flex: 1;
    box-shadow: 0px 0px 10px whitesmoke;
    border-bottom: 10px solid whitesmoke;
    border-radius: 10px;
    margin-bottom: 30px;
 }
 .serviceParent >div:nth-child(3){
    flex: 1;
    box-shadow: 0px 0px 10px #ffc107;
    border-radius: 10px;
    border-bottom: 10px solid #ffc107;
    margin-bottom: 30px;
 }
 .serviceParent >div:nth-child(4){
    flex: 1;
    box-shadow: 0px 0px 10px whitesmoke;
    border-radius: 10px;
    border-bottom: 10px solid whitesmoke;
    margin-bottom: 30px;
 }
 .serviceParent >div:nth-child(5){
    flex: 1;
    box-shadow: 0px 0px 10px #ffc107;
    border-radius: 10px;
    border-bottom: 10px solid #ffc107;
    margin-bottom: 30px;
 }

 }

 @media only screen and (min-device-width:1401px) and (max-device-width:1600px){

   .serviceMainHeading{
      font-size: 40px;
      color: #ffc107;
      text-align: center;
      padding: 40px;
    }

    .serviceParent{
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
      padding: 20px;
    
  }
  .serviceParent >div:first-child{
   flex: 1;
   box-shadow: 0px 0px 15px #ffc107;
   border-radius: 10px;
   border-bottom: 10px solid #ffc107;
   margin-bottom: 30px;
}
.serviceParent >div:nth-child(2){
    flex: 1;
    box-shadow: 0px 0px 15px whitesmoke;
    border-bottom: 10px solid whitesmoke;
    border-radius: 10px;
    margin-bottom: 30px;
 }
 .serviceParent >div:nth-child(3){
    flex: 1;
    box-shadow: 0px 0px 15px #ffc107;
    border-radius: 10px;
    border-bottom: 10px solid #ffc107;
    margin-bottom: 30px;
 }
 .serviceParent >div:nth-child(4){
    flex: 1;
    box-shadow: 0px 0px 15px whitesmoke;
    border-radius: 10px;
    border-bottom: 10px solid whitesmoke;
    margin-bottom: 30px;
 }
 .serviceParent >div:nth-child(5){
    flex: 1;
    box-shadow: 0px 0px 15px #ffc107;
    border-radius: 10px;
    border-bottom: 10px solid #ffc107;
    margin-bottom: 30px;
 }

 }
