


.formControlling{
    border:  1px solid whitesmoke;
    text-align: center;

}
/* rgb(5, 23, 47)#ffc107  */
.formControlling form{
    border: 5px solid whitesmoke;
    margin-left: 720px;
    margin-right: 720px;
    padding: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-left-style: solid;
    border-left-width: 25px;
    border-left-color: #ffc107 ;
    border-radius: 450px ;
    background-color: transparent;
    box-shadow: 0px 0px 20px #ffc107;
}

.formControlling form button{
    width: 60%;
}
.formControlling form button:hover{
    width: 60%;
    background-color: rgb(5, 23, 47);
    border: 1px solid whitesmoke;
    color: whitesmoke;
}
.formControlling form h6{
     font-size: 13px;
     padding: 6px;
}
.formControlling form h6 a{
    text-decoration: none;
}
.formControlling form p{
    color: orange;
}
