

.mainParent{
    display: flex;
    flex-wrap: wrap;
}

.mainParent >div:first-child{
    flex: 1;
    border-radius: 30px;
    text-align: center;
    height: 965px;
    z-index: 0;
}
.mainParent >div:first-child img{
    width: 100%;
    height: 1000px;
 }
 .mainParentChild{
    position: relative;
     bottom: 600px;
    background: transparent;
 }

.mainParent >div:first-child h2{
   font-size: 59px;
   margin: 25px;
   background: transparent;
   border: 2px solid green;
   z-index: 99;
}
.mainParent >div:first-child h5{
    font-size: 25px;
    background: transparent;
 }
.multiline span{
   background: transparent;
   font-size: 56px;
}
 main.mainParent .mainParentChild .multilineText {
   font-size: 56px;
   background-color: transparent !important;
   font-weight: 700;
 }

 @media only screen and (max-device-width:600px){

    .mainParent{
    display: flex;
    flex-wrap: wrap;
    }
    .mainParent >div:first-child{
        flex: 1;
        border-radius: 30px;
        text-align: center;
        height: 280px;
        z-index: 0;
    }
    .mainParent >div:first-child img{
        width: 100%;
        height: 280px;
     }
     .mainParentChild{
        position: relative;
         bottom: 175px;
        background: transparent;
     }

    .mainParent >div:first-child h2{
        font-size: 18px;
        margin: 8px;
        background: transparent;
     }
     .mainParent >div:first-child h5{
         font-size: 10px;
         background: transparent;
      }
      .multiline span{
         background: transparent;
         font-size: 18px;
      }
       main.mainParent .mainParentChild .multilineText {
         font-size: 18px;
         background-color: transparent !important;
         font-weight: 700;
       }

 }


 @media only screen and (min-device-width:601px) and (max-device-width:1100px){

    .mainParent{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    }
    .mainParent >div:first-child{
        flex: 1;
        border-radius: 30px;
        text-align: center;
        height: 580px;
        z-index: 0;
    }
    .mainParent >div:first-child img{
        width: 100%;
        height: 580px;
     }
     .mainParentChild{
        position: relative;
         bottom: 334px;
        background: transparent;
     }

    .mainParent >div:first-child h2{
        font-size: 30px;
        margin: 12px;
        background: transparent;
     }
     .mainParent >div:first-child h5{
         font-size: 14px;
         background: transparent;
      }
      .multiline span{
         background: transparent;
         font-size: 36px;
      }
       main.mainParent .mainParentChild .multilineText {
         font-size: 36px;
         background-color: transparent !important;
         font-weight: 700;
       }

 }

 @media only screen and (min-device-width:1101px) and (max-device-width:1400px){

    .mainParent{
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    }
    .mainParent >div:first-child{
        flex: 1;
        border-radius: 30px;
        text-align: center;
        height: 780px;
        z-index: 0;
    }
    .mainParent >div:first-child img{
        width: 100%;
        height: 780px;
     }
     .mainParentChild{
        position: relative;
         bottom: 435px;
        background: transparent;
     }

    .mainParent >div:first-child h2{
        font-size: 45px;
        margin: 12px;
        background: transparent;
     }
     .mainParent >div:first-child h5{
         font-size: 18px;
         background: transparent;
      }

 }
/* @media only screen and (min-device-width:1401px) and (max-device-width:1700px){

   .mainParent{
      display: flex;
      flex-wrap: wrap;
      height: 600px;
      }

} */





  
