

.ContactParent{
    display: flex;
    background: linear-gradient(to bottom right, transparent 50%,rgb(5, 23, 47) 50%);
    width: 100%;
    height: 100%; 
}

.ContactParent >div:first-child{ 
    flex: 1;
    background: transparent;
    text-align: center;
    margin: 60px;
    padding: 30px;
    padding-top: 150px;
}
.ContactParent >div:first-child h2{
    font-size: 60px;
    color: #ffc107 ;
    background: transparent; 
}

.ContactParent >div:first-child div{
     padding: 30px; 
     background: transparent;
}
.ContactParent >div:first-child h5{
    background: transparent;
}
.ContactParent >div:first-child div h6{
    font-size: 17px;
    background: transparent;
}


.ContactParent >div:nth-child(2){
    flex: 1;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0px 8px whitesmoke;
    text-align: center;
     margin: 60px;
    padding: 30px;
  
}
.ContactParent >div:nth-child(2) form{
    background: transparent;
    text-align: -webkit-center;
  }

.ContactParent >div:nth-child(2) h3{
    font-size: 30px;
    color:#ffc107 ;
  }

.ContactParent >div:nth-child(2) input{
    background-color: white;
    width: 60%;
  }

.ContactParent >div:nth-child(2) select{
    background-color: white;
    width: 60%;
  }

.ContactParent >div:nth-child(2) option{
    background-color: white;
    width: 60%;
  }

.ContactParent >div:nth-child(2) textarea{
    background-color: white;
    width: 80%;
}

.ContactParent >div:nth-child(2) h6{
    padding:20px;
    color: white;
    width: 100%;
}

.ContactParent >div:nth-child(2) button{
    color: whitesmoke;
    width: 60%;
    background-color: black;
    transition:linear 0.4s;
}
.ContactParent >div:nth-child(2) button:hover{
    color:  black;
    background-color: orange;
}

@media only screen and (max-device-width:600px){

    .ContactParent{
        display: inline-block;
        background: linear-gradient(to bottom right, transparent 50%,rgb(5, 23, 47) 50%);
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgb(98, 98, 98);
    }

    .ContactParent >div:first-child{ 
        flex: 1;
        background: transparent;
        text-align: center;
        margin: 6px;
        padding: 0px;
        padding-top: 10px;
    }
    .ContactParent >div:first-child h2{
        font-size: 22px;
        color: #ffc107 ;
        background: transparent;
        
    }
    .ContactParent >div:first-child h5{
        background: transparent;
        font-size: 18px;
    }
    .ContactParent >div:first-child div{
        display: none;
         padding: 0px; 
         background: transparent;
    }

    .ContactParent >div:nth-child(2){
        flex: 1;
        border: 1px solid whitesmoke;
        border-radius: 10px;
        box-shadow: 0 0px 8px whitesmoke;
        text-align: center;
         margin: 10px;
         margin-top: 20px;
        padding: 10px;
    }

    .ContactParent >div:nth-child(2) h3{
        font-size: 22px;
        color:#ffc107 ;
      }
    
    .ContactParent >div:nth-child(2) input{
        background-color: white;
        width: 90%;
      }
    
    .ContactParent >div:nth-child(2) select{
        background-color: white;
        width: 90%;
      }
    
    .ContactParent >div:nth-child(2) option{
        background-color: white;
        width: 90%;
      }
    
    .ContactParent >div:nth-child(2) textarea{
        background-color: white;
        width: 90%;
    }
    
    .ContactParent >div:nth-child(2) h6{
        padding:12px;
        color: white;
        width: 100%;
    }


}

@media only screen and (min-device-width:601px) and (max-device-width:1100px){

   
    .ContactParent{
        display: inline-block;
        background: linear-gradient(to bottom right, transparent 50%,rgb(5, 23, 47) 50%);
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgb(98, 98, 98);
    }

}


@media only screen and (min-device-width:1101px) and (max-device-width:1600px){

    .ContactParent >div:first-child h2{
        font-size: 50px;
        color: #ffc107 ;
        background: transparent; 
    }
   
  
}

