
.ulcontroling{
    font-size: 30px;
}

.ulcontroling li{
  border-radius: 30px;
    text-align: center;
    list-style: none;
    background-color: white;
    color: black;
    margin-right: 30px;
    margin-left: 30px;
}

.ulcontroling li a{
  background-color: white;
  text-decoration: none;
  color: black;
}
.ulcontroling li a:hover{
    color: orange;
  }
/* .headingcontrol a{
 text-decoration: none;
 background-color: white;
} */